<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yadaniil.app.cryptomarket">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        
        <activity
            android:name=".main.MainActivity"
            android:label="@string/drawer_item_currencies"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name=".splash.SplashActivity"
            android:theme="@style/Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".mining.MiningActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        
        
	<!--&lt;!&ndash;TODO:put your fabric api key here&ndash;&gt;-->
        <!--<meta-data-->
            <!--andrfullNamename="io.fabric.ApiKey"-->
            <!--android:value=""  />-->


    </application>

</manifest>
